[Nodes]
node_count=6
node1=cluster1.local
node2=cluster2.local
node3=cluster3.local
node4=cluster4.local
node5=cluster5.local
node6=cluster6.local

[cluster1.local]
height=1024
width=1024

[cluster2.local]
height=1024
width=1024

[cluster3.local]
height=1024
width=1024

[cluster4.local]
height=1024
width=1024

[cluster5.local]
height=1024
width=1024

[cluster6.local]
height=1024
width=1024
